@media screen and (min-width: 769px) and (max-width: 1024px) {
    .banner-item-01 {
        padding: 213px 0px;
        background-image: url(../../assets/images/homepage-banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .page-heading {
        padding: 0px 0px 0px 0px;
        text-align: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 306px;
    }
}